*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.main-container{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 100%; 
}
.content-container{
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    
    margin: 10px;
}
.content{
    text-align: left;
}
.content-container p{
    text-align: justify;
}
.fa fa-cart-plus{
    color: aliceblue;
}
.img,.content{
    margin: 10px;
}
button{
    background-color: darkcyan;
    text-align: center;
    padding: 10px;
    width: 150px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
button i{
    padding-left: -30px;
    padding-right: 20px;
}
@media only screen and (min-width:768px) {
    .content-container{
        display: flex;
    }
    
}
